* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 500px;
  height: 500px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: beige;
  border-radius: 5%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > input[type='text'] {
  width: 80%;
  height: 45px;

  padding: 10px;
  border: none;
  border-radius: 5%;
  outline: none;
}

.optionBox {
  width: 80%;
  margin: 50px 0 50px 0;
  position: relative;
}

.optionBox input[type='number'] {
  width: 200px;
  height: 35px;
  padding: 10px;
  margin-top: 10px;

  border: none;
  outline: none;
}

.optionBox input[type='checkbox'] {
  margin-left: 10px;
}

.optionBox button {
  width: 35px;
  height: 25px;
  padding: 3px;

  position: absolute;
  right: 155px;
  bottom: 4px;
  border: none;
  border-radius: 10%;
  background-color: bisque;
  cursor: pointer;
}

.optionBox p {
  zoom: 0.8;
}

.showInput {
  margin-top: 30px;
}
